@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

* {
  font-family: "Dongle", sans-serif;
  font-size: 25px;
}

/* General */
.bg-grad {
  background: #a0caa2;
  background: linear-gradient(0deg, #a0caa2 23%, #8be8cb 100%);
  min-height: 20vh;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}
/* ============================= */

/* LinkForm */
.btn-mint {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 25px;
}

.btn-mint:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #8d354b;
}

.modal-main {
  font-size: 25px;
}

.btn-modal {
  background-color: #358d71;
  border: 2px solid #358d71;
  color: #ffffff;
  font-size: 25px;
}
/* ============================= */

/* LinkSearch */
.searchBox {
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 20px;
}

.searchBox:active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
/* ============================= */

/* LinkList */
.links-list {
  font-size: 25px;
}

.link-body {
  border-radius: 10px;
  background-color: #f2effa;
  font-size: 25px;
  color: #303633;
}
/* ============================= */
